{% for item in page.header.submenu %}
    {% if item.category %}
        {% set taxonomies = 'category' %}
        {% set values = item.category %}
    {% elseif item.type %}
        {% set taxonomies = 'type' %}
        {% set values = item.type %}
    {% elseif item.tag %}
        {% set taxonomies = 'tag' %}
        {% set values = item.tag %}
    {% endif %}
    <li>
        {% if item.uri %}
            <a href="/{{ item.uri }}">{{item.title}}</a>
        {% elseif taxonomies %}
            <a href="{{ page.url }}?name={{taxonomies|join(',')}}&val={{values|join(',')}}">{{item.title}}</a>
        {% elseif item.anchor %}
            <a href="{{ item.anchor }}">{{item.title}}</a>
        {% endif %}
    </li>
{% endfor %}
