/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to style Presentation Plugin slides */
.reveal .slides {
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: unset !important;
}

body {
    font-family: 'Crimson Text',
        serif;
}

/* News Listing */
.news-listing .bricklayer-column {
    padding-left: 0;
    padding-right: 25px
}

.news-listing .card {
    margin-bottom: 25px;
    border: 0;
    box-shadow: 0 10px 45px -9px rgba(0, 0, 0, .1)
}

.news-listing .card-footer {
    text-align: right
}