<section class="section modular-contact {{ page.header.class}}">
    {{ content|raw }}
    <h1>
        {{ page.header.call_to_action }}
        <button type="button" class="btn" data-toggle="modal" onclick="openModal()">{{ page.header.button_text }}</button>
    </h1>

</section>
<div class="modal" id="contactModal">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="closeModal()"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" onclick="closeModal()"></a>
        </div>
        <div class="modal-body">
            <div class="content">
                <div id="{{ page.header.div_id }}" style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ site.contact.form_js }}"></script>
<script>
    jQuery(document).ready(function ($) {});

    function openModal() {
        jQuery("#contactModal").addClass('active');
    }

    function closeModal() {
        jQuery("#contactModal").removeClass('active');
    }
</script>
