<section class="section modular-numeric {{ page.header.class}}">
    <section class="container">
        <div class="content columns">
            <div class="column number col-2 col-md-3 col-sm-12">
                <h2>{{ page.header.title }}</h2>
            </div>
            <div class="column text col-10 col-md-9 col-sm-12">
                {{ content|raw }}
            </div>
        </div>
    </section>
</section>
