{% set collection = page.collection() %}
<section class="section modular-timeline {{ page.header.classes }}">
    <section class="content">
        {{ page.content|raw }}
    </section>
    <section class="content timeline">
        <div class="timeline">
            {% for child in collection %}
                {% include 'partials/era.html.twig' with {era: child} %}
            {% endfor %}
        </div>
    </section>
</section>
