{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}
    {{ text|lower|replace({' ':'_'}) }}
{% endmacro %}

{% import _self as macro %}

{% block subnav %}
    {% if show_onpage_menu %}
        <section class="section" id="submenu">
            <nav class="subnav">
                <ul>
                    {% for module in page.collection() %}
                        {% set anchor = module.anchor ?: module.title %}
                        {% set menu = module.menu ?: module.title %}
                        <li>
                            <a href="#{{ macro.pageLinkName(anchor)|trim }}">{{ menu }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block hero %}
    {% for module in page.collection() if module.template == 'modular/hero' or module.template == 'modular/hero-video' %}
        <div id="{{ macro.pageLinkName(module.menu)|trim }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}

{% block body %}
    {% for module in page.collection() if module.template != 'modular/hero' and module.template != 'modular/hero-video' %}
        <div id="{{ macro.pageLinkName(module.menu)|trim }}"></div>
        {{ module.content|raw }}
    {% endfor %}
    {# check to display CC License - hibbittsdesign.org #}
    {# check to display git sync link in page - hibbittsdesign.org #}
    {% if theme_var('display_of_git_sync_repo_link') == 'page' and not (grav.uri.param('summaryonly') or grav.uri.param('onlysummary')) %}
        {% include 'partials/git_sync_repo_link_note.html.twig' %}
    {% endif %}
    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled') and not(page.header.hide_cc_license)) %}
        {% include 'partials/creative_commons_license.html.twig' %}
    {% endif %}
{% endblock %}
