{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{# revise checks for Blog list page options - hibbittsdesign.org #}
{% if page.header.show_breadcrumbs is defined %}
    {% set show_breadcrumbs = page.header.show_breadcrumbs %}
{% else %}
    {% set show_breadcrumbs = true %}
{% endif %}
{% if page.header.show_sidebar is defined %}
    {% set show_sidebar = page.header.show_sidebar %}
{% else %}
    {% set show_sidebar = true %}
{% endif %}
{% if page.header.show_pagination is defined %}
    {% set show_pagination = page.header.show_pagination %}
{% else %}
    {% set show_pagination = true %}
{% endif %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
{% endblock %}


{% block hero %}
    {# check content display flag - hibbittsdesign.org #}
    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) %}
        {% if blog_image %}
            {% include 'partials/hero.html.twig' with {id: 'blog-hero', content: page.content, hero_image: blog_image} %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
<section class="section blog-listing" id="body-wrapper">
    <section class="container">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                {# Added support for modular page content - hibbittsdesign.org #}
                {% if page.collection('modular_content') is not empty %}
                    {% for module in page.collection('modular_content') %}
                        {% if (module.content|striptags)|trim %}
                            <p>{{ module.content|raw }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if ((page.header.bricklayer_layout is not defined) or (page.header.bricklayer_layout)) %}
                    <div class="bricklayer">
                    {% else %}
                        <div>
                        {% endif %}

                        {% set taxname = uri.query('name') %}
                        {% set taxval = uri.query('val') %}

                        {% if taxname %}
                            {# display posts with 'featured' tag on current news page - hibbittsdesign.org #}
                            {% for child in taxonomy.findTaxonomy({ (taxname) : (taxval) }) %}
                                {% include 'partials/news-list-item.html.twig' with {news: page, page: child} %}
                            {% endfor %}
                        {% else %}

                            {# display posts with 'featured' tag on current blog page - hibbittsdesign.org #}
                            {% for child in taxonomy.findTaxonomy({ 'tag' : "featured" }) %}
                                {% include 'partials/news-list-item.html.twig' with {blog: page, page: child} %}
                            {% endfor %}

                            {# display posts without 'featured' tag - hibbittsdesign.org #}
                            {% for child in collection %}
                                {% if "featured" not in child.taxonomy['tag'] %}
                                    {% include 'partials/news-list-item.html.twig' with {blog: page, page: child} %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                        <div id="listing-footer">
                            {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                        </div>
                    {% endif %}
                    <div style="text-align:center;">
                        {# check to display CC License - hibbittsdesign.org #}
                        {# check to display git sync link in page - hibbittsdesign.org #}
                            {% if theme_var('display_of_git_sync_repo_link') == 'page' and not (grav.uri.param('summaryonly') or grav.uri.param('onlysummary')) %}
                                <p>
                            {% include 'partials/git_sync_repo_link_note.html.twig' %}
                        </p>
                        {% endif %}
                            {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled') and not(page.header.hide_cc_license) and not (grav.uri.param('onlysummary'))) %}
                                <p>
                            {% include 'partials/creative_commons_license.html.twig' %}
                        </p>
                    {% endif %}
                </div>
                {% endblock %}
                {# check content display flag - hibbittsdesign.org #}
                    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) %}
                        {% block sidebar %}
                    {% include 'partials/sidebar.html.twig' %}
                {% endblock %}
            {% endif %}
        {% endembed %}
    </section>
    </section>
        <script>
// Bricklayer
{% if ((page.header.bricklayer_layout is not defined) or (page.header.bricklayer_layout)) %}
    var bricklayer = new Bricklayer(document.querySelector('.bricklayer')){% endif %}
</script>{% endblock %}
