section.allies {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 4rem;

    .content {
        margin: 1rem 0;
    }

    .allies {
        margin: 0;
        color: black;

        .logo {
            text-align: center;
        }

        .description {
            @include breakpoint(sm) {
                text-align: center;
            }
        }

        li {
            padding: 1rem;
            margin: 1rem 0;
            background: white;
            width: auto;
            list-style: none;
            border: 1px solid lighten($green-color, 10%);
        }

        .social-icons {
            display: inline;
            margin: 0 auto;

            li {
                padding: 0;
                margin: 0;
                width: auto;
                list-style: none;
                border: none;

                a {
                    padding: 0 .3rem;

                    i {
                        color: black;
                    }
                }
            }
        }
    }
}