.bg-green {
    @include menu-colors('green', 'black-line-wide');
}

.bg-yellow {
    @include menu-colors('yellow', 'green-line-wide');
}

.bg-pink {
    @include menu-colors('pink', 'purple-line-wide');
}

.bg-blue {
    @include menu-colors('blue', 'red-line-wide');
}

.bg-purple {
    @include menu-colors('purple', 'blue-line-wide');
}

div,
section {
    &.bg-green {
        background: $green-color;
        color: $light-color-text;
    }

    &.bg-black {
        background: $black-color;
        color: $light-color-text;
    }

    &.bg-lemon {
        background: $lemon-color;
    }

    &.bg-yellow {
        background: $warm-yellow-color;
    }

    &.bg-light-green {
        background: $light-green-color;
    }

    &.bg-pink {
        background: $pink-color;
    }

    &.bg-angry {
        background: $angry-color;
    }

    &.bg-red {
        background: $red-color;
    }

    &.bg-bright-pink {
        background: $bright-pink-color;
    }

    &.bg-blue {
        background: $light-blue-color;
        color: $body-font-color;

        a {
            color: $purple-color;
        }
    }

    &.bg-dark-blue {
        background: $dark-blue-color;
        color: $body-font-color;

        a {
            color: $purple-color;
        }
    }

    &.bg-purple {
        background: $purple-color;
        color: $light-color-text;
    }

    &.bg-lightgrey {
        background: $gray-color-light;
    }

    &.bg-darkslategray {
        background: $darkslategray-color;
        color: $light-color-text;
    }
}