 section.section.modular-demands {
     background: $green-color;
     padding: 0;
     text-align: center;

     img {
         padding-top: 0.5rem;
         max-height: 120px;
     }

     .content.columns {
         min-height: 100px;
         margin: 0;

         h1 {
             margin: 2rem auto 0;
             color: white;
         }
     }

     .demands.columns .column {
         padding: 0;
         background: white;

         &:hover {
             background: black;

             .demand-content {
                 color: white;

             }

             .demand-icon {
                 i {
                     color: white;
                 }

                 h6 {
                     color: black;
                 }
             }
         }

         .demand-icon {
             font-size: 10rem;
             position: relative;
             display: -ms-flexbox;
             display: flex;
             height: 100px;
             margin: 0 auto;
             color: #e7e9ed;
             -ms-flex-align: center;
             align-items: center;
             -ms-flex-pack: center;
             justify-content: center;
             padding: 6rem 0;

             i {
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translateX(-50%) translateY(-50%);
             }

             h6 {
                 font-weight: 600;
                 line-height: 1;
                 z-index: 1;
                 display: block;
                 text-transform: uppercase;
                 color: white;
                 font-size: 1.5rem;
                 margin: 0;
             }

             &.pink {
                 background: $pink-color;
                 color: $purple-color;
             }

             &.yellow {
                 background: $warm-yellow-color;
                 color: $green-color;
             }

             &.blue {
                 background: $light-blue-color;
                 color: $red-color;
             }

             &.purple {
                 background: $purple-color;
                 color: $light-blue-color;
             }
         }

         .demand-content {
             color: $body-font-color;
             padding: 2rem 1rem;
             font-size: 1rem;
             text-align: justify;
             border: 1px solid #eee;
             min-height: 16rem;
             border-width: 0 1px;
         }
     }
 }