html {
  height: 100%;
}

#page-wrapper {
  box-shadow: 0px 0px 4px #dfdfdf;
}

#body-wrapper {
  .container {
    padding: $vert-padding;
  }

  // Fixed Header solution
  .header-fixed & {
    padding-top: $header-height-large;
  }
}

.header-fixed {
  .hero+#start>#body-wrapper {
    padding-top: 0;
  }
}

section.section {
  padding-left: $horiz-padding;
  padding-right: $horiz-padding;
  position: relative;

  &.modular-basic {
    padding: 2rem 4rem;
    text-align: center;

    p {
      text-align: justify;
    }

    font-size: 1.5rem;
  }

  &.blog-listing {
    background: lighten($lemon-color, 15%);
  }

  &.modular-numeric {
    padding: 0;

    .number {
      h2 {
        font-size: 7rem;
        color: $header-text;
      }
    }

    .text {
      text-align: justify;
    }
  }

  &.modular-timeline {
    font-size: 1.2rem;
    padding: 2rem 1rem;
  }

  &.text-left {

    p,
    ol,
    ul {
      text-align: left;
    }
  }

  &.red-line {
    @include underline('red-line');
  }

  &.green-line {
    @include underline('green-line');
  }

  &.blue-line {
    @include underline('blue-line');
  }

  &.yellow-line {
    @include underline('yellow-line');
  }

  &.purple-line {
    @include underline('purple-line');
  }

  &.pink-line {
    @include underline('pink-line');
  }
}

.overlay-light,
.overlay-dark,
.overlay-light-gradient,
.overlay-dark-gradient {
  z-index: 0;
}

// Hero
.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 6rem;
  padding-bottom: 7rem;
  background-size: cover;
  background-position: center;
  min-height: 500px;

  h1 {
    color: $header-text-dark;
    font-size: 4rem;
  }

  h2 {
    color: rgba($header-text-dark, 0.8);
    font-size: 2.5rem;
  }

  &.hero-fullscreen {
    min-height: 100vh;
  }

  &.hero-large {
    min-height: 500px;
  }

  &.hero-medium {
    min-height: 400px;
  }

  &.hero-small {
    min-height: 110px;
  }

  &.hero-tiny {
    min-height: 8rem;
  }

  &.hero-simple {
    .container.grid-xl {
      position: absolute;
      bottom: 0;
    }
  }

  .header-fixed & {
    background-position: 50% 0;
  }

  .hero-contain & {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4rem;
  }

  .hero-narrow & {
    min-height: 300px;

    #to-start {
      bottom: 0.5rem;
    }
  }

  &.parallax {
    background-attachment: fixed;
  }

  @include breakpoint(md) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.75rem;
    }
  }

  @include breakpoint(sm) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }


  &.text-light {
    h1 {
      color: $header-text-light;
    }

    h2 {
      color: rgba($header-text-light, 0.8);
    }
  }

  p {
    font-size: .9rem;
    font-weight: 300;
  }

  #to-start {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
  }

  .container {
    z-index: 2;
  }

  .image-caption {
    z-index: 2;
    color: lighten($body-font-color, 10%);
  }
}

// Overlay
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .overlay-light & {
    background: rgba(#fff, 0.4);
  }

  .overlay-light-gradient & {
    background: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.2));
  }

  .overlay-lemon & {
    background: rgba($lemon-color, 0.4);
  }

  .overlay-warm-yellow & {
    background: rgba($warm-yellow-color, 0.4);
  }

  .overlay-pink & {
    background: rgba($pink-color, 0.4);
  }

  .overlay-bright-pink & {
    background: rgba($bright-pink-color, 0.4);
  }

  .overlay-red & {
    background: rgba($red-color, 0.4);
  }

  .overlay-purple & {
    background: rgba($purple-color, 0.4);
  }

  .overlay-green & {
    background: rgba($green-color, 0.4);
  }

  .overlay-light-green & {
    background: rgba($light-green-color, 0.4);
  }

  .overlay-angry & {
    background: rgba($angry-color, 0.4);
  }

  .overlay-light-blue & {
    background: rgba($light-blue-color, 0.4);
  }

  .overlay-dark-blue & {
    background: rgba($dark-blue-color, 0.4);
  }

  .overlay-dark & {
    background: rgba(#000, 0.4);
  }

  .overlay-dark-gradient & {
    background: linear-gradient(to bottom, rgba(#000, 0.5), rgba(#000, 0.2));
  }
}

.submenu {
  #start {
    margin-top: 4rem;
  }

  .hero+#start {
    margin-top: 0;
  }
}

.color-block {
  min-width: 12rem;
  min-height: 12rem;
  float: left;
  margin-right: 1rem;
}

.clear {
  clear: both;
}

.footnotes {
  text-align: left;
  list-style: none;
  font-size: .6em;

  li {
    margin-left: 0;
  }
}