#header {
    width: 100%;
    height: $header-height-large;
    @extend .default-animation;

    font-size: 0.7rem;
    font-weight: 700;

    background: $bg-color-light;
    color: $header-text-dark;
    font-family: FucXed,
        sans-serif;
    text-transform: uppercase;
    z-index: 3;
    max-width: 1480px;

    a {
        font-size: 1.5rem;
        color: $header-text-dark;
    }

    .desktop-menu {
        a {
            font-size: 1.3rem;
            padding-left: .5rem;
        }

        a:hover,
        a:focus,
        a.active {
            color: $light-color-text !important;
        }
    }

    .logo svg path {
        fill: $header-color-dark;
    }

    .header-dark &:not(.scrolled) {
        background: $header-color-dark;
        color: $light-color-text;

        a {
            color: rgba($light-color-text, 0.7) !important;
        }

        a.active {
            color: $light-color-text !important;
        }

        .dropmenu ul ul a {
            color: $header-text-dark !important;
        }

        .logo svg path {
            fill: $light-color-text;
        }
    }

    .header-dark.header-transparent &:not(.scrolled) {
        background: rgba(#000, 0.05);
    }

    .header-transparent &:not(.scrolled) {
        background: rgba(#fff, 0.05);
        //border-bottom: 0 !important;
    }

    .navbar-section {
        height: $header-height-large;
        @extend .default-animation;

        @include breakpoint(lg) {
            margin-right: 2rem;
        }
    }

    .navbar-section.desktop-menu {
        @include breakpoint(lg) {
            display: none;
        }
    }

    .logo {

        svg,
        img {
            display: inherit;
            height: 3rem;
            @extend .default-animation;
        }
    }

    // Fixed Header solution
    .header-fixed & {
        position: fixed;
        top: 0;
    }
}

// Animate Fixed Header
body.header-fixed.header-animated {
    #header.scrolled {
        height: $header-height-small;

        .desktop-menu {
            a {
                font-size: 1.2rem;
            }
        }

        .navbar-section {
            height: $header-height-small;
        }

        .logo {

            svg,
            img {
                height: 2rem;
            }
        }

        ~.mobile-menu .button_container {
            top: 0.5rem;
        }

        .dropmenu ul li a {
            padding: 1px 30px 1px 20px;
        }
    }
}

.login-status-wrapper {
    white-space: nowrap;
}

// Submenu
#submenu {
    top: 4rem;
    background: white;
    font-family: $title-font-family;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    z-index: 1;

    @include breakpoint(sm) {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;

            a {
                color: $header-text-dark;
                font-size: 1.1rem;
                line-height: 2rem;
                display: inline-flex;
                padding: 0 .8rem;

                @include breakpoint(md) {
                    font-size: 1rem;
                    padding: 0 .5rem;
                }
            }

            a:hover {
                cursor: pointer;
            }
        }
    }
}