.language-selector {
    float: right;
    position: relative;
    top: 50%;
    vertical-align: middle;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 1rem !important;
    display: inline-block;
    font-family: $base-font-family, serif;
    z-index: 1;

    >.btn:first-child {
        margin-left: 0;
    }

    .btn {
        float: left;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        padding: 0;
        font-size: 0.8rem;
        line-height: 1rem;
        border-radius: 3px;
        color: #333;
        background-color: transparent;

        /* border-color: #ccc; */
        .language-select-icon {
            height: 28px;
        }

        .fa-caret-down {
            vertical-align: top;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        display: none;
        float: left;
        margin: 2px 0 0;
        font-size: 1rem;
        text-align: left;
        list-style: none;
        background-color: $light-color-text;
        background-clip: padding-box;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

        img {
            width: 24px;
            height: 12px;
            max-width: inherit;
        }

        li {
            line-height: 1rem;
            color: $dark-color;
            display: list-item;
            text-align: -webkit-match-parent;
            margin: 0;
        }

        li:hover {
            background-color: $gray-color-light;
        }

        >li {
            >a {
                font-size: .8rem !important;
                display: block;
                padding: 3px 15px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: $primary-color;
                white-space: nowrap;
            }
        }
    }
}

@include breakpoint(lg) {
    .language-selector {
        right: 1rem;
    }
}