/* The actual timeline (the vertical ruler) */
section.timeline {
    background-color: #2f4f4f;
    padding: 0.5rem 0;
    margin: 1rem 0;

    .timeline {
        box-sizing: border-box;
        position: relative;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        .container {
            padding: 0;
            position: relative;
            background-color: inherit;
            width: 50%;
            margin: 0;

            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                right: -12px;
                background-color: white;
                border: 4px solid #FF9F55;
                top: 15px;
                border-radius: 50%;
                z-index: 1;
            }

            /* The actual content */
            .content {
                padding: 20px 30px;
                background-color: white;
                position: relative;
                border-radius: 6px;
                margin: 15px 15px 15px 30px;

                h2,
                h3 {
                    margin-top: 1rem;
                }

                h2 {
                    font-size: 1.6rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
                p {
                    text-align:justify;
                }
            }

            /* Place the container to the left */
            &.left {
                left: 0;

                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    right: 20px;
                    border: medium solid white;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent white;
                }

                /* The actual content */
                .content {
                    margin: 15px 30px 15px 15px;
                }
            }

            /* Place the container to the right */
            &.right {
                left: 50%;

                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    left: 20px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }

                &::after {
                    left: -12px;
                }
            }
        }

        @include breakpoint(sm) {

            /* Place the timelime to the left */
            &::after {
                left: 31px;
            }

            /* Full-width containers */
            .container {
                width: 100%;

                /* Make sure all circles are at the same spot */
                &.left,
                &.right {
                    left: 0;

                    &::before {
                        left: 50px;
                        border: medium solid white;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent white transparent transparent;
                    }

                    &::after {
                        left: 19px;
                    }

                    .content {
                        margin: 15px 15px 15px 60px;
                    }
                }
            }
        }
    }
}