// Spectre Overrides

// XR Colors
// Main Colors
$black-color: rgb(0, 0, 0) !default;
$green-color: rgb(20, 170, 55) !default;
// Bright Colors
$light-green-color: rgb(190, 210, 118) !default;
$lemon-color: rgb(247, 238, 106) !default;
$warm-yellow-color: rgb(255, 193, 30) !default;
$pink-color: rgb(237, 155, 196) !default;
$bright-pink-color: rgb(207, 98, 151) !default;
$light-blue-color: rgb(117, 208, 241) !default;
$dark-blue-color: rgb(56, 96, 170) !default;
$purple-color: rgb(152, 98, 151) !default;
$angry-color: rgb(200, 0, 130) !default;
$red-color: rgb(220, 79, 0) !default;

// Other colors
$primary-color: #3085EE !default;
$dark-color: #303742 !default;
$light-color: #ccc !default;
$light-color-text: lighten($light-color, 50%) !default;
$gray-color: lighten($dark-color, 40%) !default;
$gray-color-dark: darken($gray-color, 25%) !default;
$gray-color-light: lighten($gray-color, 30%) !default;
$border-color: lighten($dark-color, 60%) !default;
$bg-color: lighten($light-color, 10%) !default;
$bg-color-light: lighten($light-color, 20%) !default;
$bg-color-dark: darken($dark-color, 40%) !default;
$body-font-color: darken($dark-color, 5%) !default;
$darkslategray-color: darkslategray !default;

// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$min-responsive-font-size: 16px;

// Header
$header-height-large: 4rem;
$header-height-small: 2.3rem;
$header-color-dark: #222;
$header-text-light: $light-color;
$header-text: $dark-color;
$header-text-dark: darken($dark-color, 15%);

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 20px;
$dropmenu-vert-padding: 7px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $primary-color;
$mobile-color-active: #FFF;
$mobile-color-link: #FFF;
$mobile-button-height: 24px;
$mobile-button-width: 28px;