<li>
    <div class="columns">
        <div class="column logo col-3 col-md-4 col-sm-12">
            <div>
                <img src="{{ ally.media[ally.header.logo].resize(140,140).url }}" alt="{{ ally.header.title }}" title="{{ ally.header.title }}"/>
            </div>
            {% include 'partials/social.html.twig' with {p: ally} %}
        </div>
        <div class="column description col-9 col-md-8 col-sm-12">
            {{ ally.content|raw }}
        </div>
    </div>
</li>
