{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head deferred %}
            <meta charset="utf-8"/>
            <title>{% if page.title %} {{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

            <meta content="IE=edge" http-equiv="X-UA-Compatible">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            {% include 'partials/metadata.html.twig' %}
            <link href="{{ url('theme://images/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180">
            <link href="{{ url('theme://images/favicon-32x32.png') }}" rel="icon" sizes="32x32" type="image/png">
            <link href="{{ url('theme://images/favicon-16x16.png') }}" rel="icon" sizes="16x16" type="image/png">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}"/>

            <link rel="canonical" href="{{ page.url(true, true) }}"/>
            {% include 'partials/language-selector.hreflang.html.twig' %}

        {% endblock head %}

        {% block stylesheets %}
            {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
            {% if theme_var('spectre.exp') %}
                {% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}
            {% endif %}
            {% if theme_var('spectre.icons') %}
                {%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}
            {% endif %}
            {% do assets.addCss('theme://css-compiled/theme'~compress) %}
            {% do assets.addCss('theme://css-compiled/fontawesome'~compress) %}

            {% if page.header.action_network_form_id %}
                <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css'/>
            {% endif %}
            {% do assets.addCss('theme://css/custom.css') %}
            {% do assets.addCss('theme://css/line-awesome.min.css') %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
            {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
            {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
            {% if page.header.action_network_form_id %}
                <script src='https://actionnetwork.org/widgets/v3/form/{{ page.header.action_network_form_id }}?format=js&source=widget'></script>
            {% endif %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}
    </head>

    {% if page.header.submenu or page.header.onpage_menu %}
        {% set body_classes = body_classes ~ ' submenu' %}
    {% endif %}
    {% set path = uri.paths[0] %}
    {% switch path %}
        {% case 'resources' %}
            {% set body_classes = body_classes ~ ' bg-purple' %}
        {% case 'news' %}
            {% set body_classes = body_classes ~ ' bg-yellow' %}
        {% case 'rebellion' %}
            {% set body_classes = body_classes ~ ' bg-blue' %}
        {% case 'extinction' %}
            {% set body_classes = body_classes ~ ' bg-pink' %}
        {% default %}
            {% set body_classes = body_classes ~ ' bg-green' %}
    {% endswitch %}
    <body class="{% if language_selector.current %}language-{{ language_selector.current }}{% endif %} {% block body_classes %}{{ body_classes }} {{ submenu }}{% endblock %}" id="top"></body>
    <div id="page-wrapper">
        {% block header deferred %}
            <section class="section" id="header">
                {% include 'partials/language-selector.html.twig' %}
                <section class="container">
                    <nav class="navbar">
                        <section class="navbar-section logo">
                            {% include 'partials/logo.html.twig' %}
                        </section>
                        <section class="navbar-section desktop-menu">

                            <nav class="dropmenu animated">
                                {% block header_navigation %}
                                    {% include 'partials/navigation.html.twig' %}
                                {% endblock %}
                            </nav>

                            {% block social %}
                                {% include 'partials/social.html.twig' %}
                            {% endblock %}

                            {% if config.plugins.login.enabled and grav.user.username %}
                                <span class="login-status-wrapper">
                                    <i class="fa fa-user"></i>
                                    {% include 'partials/login-status.html.twig' %}</span>
                            {% endif %}
                        </section>
                    </nav>
                </section>
            </section>
            <div class="mobile-menu">
                <div class="button_container" id="toggle">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
            </div>
        {% endblock %}

        {% block subnav %}
            {% if page.header.submenu %}
                <section class="section" id="submenu">
                    <nav class="subnav">
                        <ul>
                            {% include 'partials/navigation/subnav.html.twig' with {page: page} %}
                        </ul>
                    </nav>
                </section>
            {% endif %}
        {% endblock %}

        {% block hero %}{% endblock %}

        <section id="start">
            {% block body %}
                <section class="section" id="body-wrapper">
                    <section class="container">
                        {% block messages %}
                            {% include 'partials/messages.html.twig' ignore missing %}
                        {% endblock %}
                        {% block content %}{% endblock %}
                    </section>
                </section>
            {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-header">
                <div class="mobile-logo">
                    {% include 'partials/logo.html.twig' with {mobile: true} %}
                </div>
                <div class="mobile-social">
                    {% include 'partials/social.html.twig' %}
                </div>
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true, mobile: true} %}
            </nav>
        </div>
    </div>

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
</html></body></html>
