<div class="container {% if loop.index is divisibleby(2) %}left{% else %}right{% endif %}">
    <div class="content">
        <h2>{{ era.header.title }}</h2>
        <h3>{{ era.header.subtitle }}</h3>
        {{ era.content|raw }}
        {% if era.header.external_link %}
            <a class="button" href="{{ era.header.external_link }}" target="_blank" rel="noopener noreferrer">read more...</a>
        {% endif %}
    </div>
</div>
