{% set footer = page.find('/modules/footer/') %}
{% set left = footer.header.left %}
{% set middle = footer.header.middle %}
<section class="section bg-darkslategray" id="footer">
    <section class="container">
        <div class="content columns">
            <div class="column col-4 col-md-4 col-sm-12 text-left">
                {% for section in left %}
                    <h2 class="green-line">{{ section.title }}</h2>
                    <ul>
                        {% for link in section.links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="column col-4 col-md-4 col-sm-12 text-left">
                {% for section in middle %}
                    <h2 class="green-line">{{ section.title }}</h2>
                    <ul>
                        {% for link in section.links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="column col-4 col-md-4 col-sm-12 text-center">
                {% block social_footer %}
                    {% include 'partials/social.html.twig' %}
                {% endblock %}
            </div>
        </div>
        <div class="copyright">&copy; Extinction Rebellion Los Angeles
            {{ 'now'|date('Y') }}
            |
            <span class="simlink" onclick="showTerms()">Privacy policy & Terms of use</span>
        </div>
    </section>
</section>
{% include 'partials/privacy-modal.html.twig' %}

{# Include back-to-top plugin #}
{% if config.plugins.backtotop.enabled %}
    {% include 'partials/backtotop.html.twig' %}
{% endif %}
