{% if p is not defined %}
    {% set p = page.find('/modules/social/') %}
{% endif %}
<ul class="social-icons">
    {% if p.header.website %}
        <li>
            <a href="{{ p.header.website }}" rel="nofollow noopener noreferrer" target="_blank">
                <i class="fas fa-link"></i>
            </a>
        </li>
    {% endif %}
    {% if p.header.twitter %}
        <li>
            <a href="https://twitter.com/{{ p.header.twitter }}" rel="nofollow noopener noreferrer" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    {% endif %}
    {% if p.header.instagram %}
        <li>
            <a href="https://www.instagram.com/{{ p.header.instagram }}" rel="nofollow noopener noreferrer" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    {% endif %}
    {% if p.header.facebook %}
        <li>
            <a href="https://www.facebook.com/{{ p.header.facebook }}" rel="nofollow noopener noreferrer" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    {% endif %}
</ul>
