{% if page.taxonomy.tag %}
    <span class="tags">
        {% for tag in page.taxonomy.tag %}
            <a class="label label-rounded {{ label_style ?: 'label-secondary' }} p-category" href="{{ page_url }}?name=tag&val={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </span>
{% endif %}
