/*!
 * Font Awesome Free 5.9.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.eot");src:url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.woff2") format("woff2"),url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.woff") format("woff"),url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.ttf") format("truetype"),url("/user/themes/xrla/css/fonts/webfonts/fa-regular-400.svg#fontawesome") format("svg")}.far{font-family:"Font Awesome 5 Free";font-weight:400}/*# sourceMappingURL=regular.css.map */
